@media screen and (max-width: 1023px) {
  .card_list {
    flex-direction: row;
    display: flex;
    padding: 3%;
    flex-wrap: wrap;
 }
}

@media screen and (min-width: 1024px) {
  .card_list {
     flex-direction: row;
     display: flex;
     padding: 3% 3% 3% 0%;
     flex-wrap: wrap;
  }

}