@media screen and (max-width: 1023px) {
  .main_div_menu {
    flex-direction: column;
  }

  .menu_logo {
    background-color: black;
    height: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
  }

  .name_projeto {
    color: #8923b2;
    margin: 0px;
    text-align: center;
    font-size: 30px;
  }

  .name_laserterapia {
    color: white;
    margin: 0px;
    text-align: center;
    font-size: 30px;
  }

  .img_menu_logo {
    height: auto;
    max-height: 150px;
    margin: 10px auto 30px auto;
  }

  .navbar-expand-md{
    padding: 5px 0px;
  }

  .nav-link {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 12px !important;
  }

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}


@media screen and (min-width: 1024px) {
  .main_div_menu {
    flex-direction: column;
  }

  .menu_logo {
    background-color: black;
    height: auto;
    min-height: 200px;
    display: flex;
    flex-direction: row;
  }

  .div_nomes {
    margin: auto auto auto 100px;
    width: fit-content;
  }

  .name_projeto {
    color: #8923b2;
    margin: 0px;
    width: fit-content;
    font-size: 45px;
  }

  .name_laserterapia {
    color: white;
    margin: 0px;
    width: fit-content;
    font-size: 45px;
    margin-left: 40px;
  }

  .img_menu_logo {
    height: auto;
    max-height: 180px;
    margin: auto 70px auto auto;
  }

  .nav-link {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 15px !important;
  }

  .nav-link:hover{
    color: black;
  }

  .logout_button {
    position: absolute;
    right: 0px;
  }

}
