@media screen and (max-width: 1023px) {
    .register-user-container {
        padding: 3%;
    }

    .register-user-title {
        font-size: 18px;
    }

    .register-user-input {
        margin-top: 2px;
        margin-bottom: 10px;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px groove black;
      }

      .register-user-button {
        background-color: #7d1195;
        color: white;
        border: none;
        display: block;
        margin: 20px 0px;
        height: 35px;
        min-width: 150px;
        font-size: 15px;
      }
  }
  
  @media screen and (min-width: 1024px) {
    .register-user-container {
        padding: 2%;
    }

    .register-user-title {
        font-size: 18px;
    }

    .register-user-input {
        margin-top: 2px;
        margin-bottom: 10px;
        width: 50%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px groove black;
      }

      .register-user-button {
        background-color: #7d1195;
        color: white;
        border: none;
        display: block;
        margin: 20px 0px;
        height: 35px;
        min-width: 150px;
        font-size: 15px;
      }
  }