@media screen and (max-width: 1023px) {
  .form_reset_password {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    width: auto;
    margin: 60px auto 0px auto;
  }

  .label_input_password {
    color: #7c1894;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
  }

  .input_password {
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    max-width: inherit;
    margin-bottom: 50px;
  }

  .button_reset_password {
    background-color: #7c1894;
    color: white;
    border: none;
    font-size: 20px;
    width: 100%;
    min-height: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .form_reset_password {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    width: auto;
    margin: 60px auto 0px auto;
  }

  .label_input_password {
    color: #7c1894;
    font-size: 25px;
    margin: 0px;
  }

  .input_password {
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    max-width: inherit;
    margin: 20px 0px 60px 0px;
  }

  .button_reset_password {
    background-color: #7c1894;
    color: white;
    border: none;
    font-size: 20px;
    width: auto;
    min-width: 500px;
    min-height: 50px;
    margin: 0px auto 20px auto;
  }
}
