@media screen and (max-width: 1023px) {
  .success_reset_center {
    margin: 50px auto 25px auto;
    width: fit-content;
  }

  .img_success {
    height: 100px;
    width: 100px;
    display: flex;
    margin: 0px auto;
  }

  .text_reset_success {
    font-size: 22px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .success_reset_center {
    margin: 100px auto 25px auto;
    width: fit-content;
  }

  .img_success {
    height: 150px;
    width: 150px;
    display: flex;
    margin: 0px auto;
  }

  .text_reset_success {
    font-size: 25px;
  }
}
